<div class="container">
    <h1>Listing Tickets</h1>
    <button routerLink="create" class="mat-raised-button color" mat-stroked-button color="primary">New ticket</button>
  
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <mat-radio-group color="primary">
      <mat-radio-button (click)="orderByStatus(0)">ABERTO</mat-radio-button>
      <mat-radio-button (click)="orderByStatus(1)">ANDAMENTO</mat-radio-button>
      <mat-radio-button (click)="orderByStatus(2)">ENCERRADO</mat-radio-button>
      <mat-radio-button (click)="orderByStatus('')">TODOS</mat-radio-button>
    </mat-radio-group>

      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
        
            <ng-container matColumnDef="customer">
              <th mat-header-cell *matHeaderCellDef> Customer </th>
              <td mat-cell *matCellDef="let element"> {{element.nameCustomer}} </td>
            </ng-container>

            <ng-container matColumnDef="technical">
              <th mat-header-cell *matHeaderCellDef> Technical </th>
              <td mat-cell *matCellDef="let element"> {{element.nameTechnical}} </td>
            </ng-container>
        
            <ng-container matColumnDef="OpeningDate">
              <th mat-header-cell *matHeaderCellDef> 
                Opening date </th>
              <td mat-cell *matCellDef="let element"> {{element.OpeningDate}} </td>
            </ng-container>

            <ng-container matColumnDef="Priority">
                <th mat-header-cell *matHeaderCellDef> 
                  Opening date </th>
                <td mat-cell *matCellDef="let element"> {{element.Priority}} </td>
              </ng-container>

              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> 
                    Status </th>
                <td mat-cell *matCellDef="let element"> {{statusReturn(element.status)}} </td>
              </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <a routerLink="update/{{ element.id }}">
                   <i class="material-icons edit">edit</i>
                </a>
                <a routerLink="">
                   <i class="material-icons delete">visibility</i>
                </a>
             </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        
  </div>