<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Proftechdesk</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Support Proftechdesk">
    <mat-card-content>
      <p>
        Dê as boas-vindas ao nosso Proftechdesk Avançado! Nossa plataforma de supporte central foi cuidadosamente desenvolvida para proporcionar uma experiência aprimorada, combinando a robustez do Spring Boot no backend com a agilidade do Angular no frontend. Descubra a conveniência de registrar e monitorar suas solicitações, enquanto desfruta de um suporte mais intuitivo. Este projeto representa um marco em nosso compromisso contínuo com a inovação, simplificando e aprimorando a interação entre usuários e nosso suporte técnico. Estamos empolgados em compartilhar essa jornada aprimorada de assistência técnica com você!
      </p>
    </mat-card-content>
  </mat-card>