<div class="container">
    <form class="form  mat-elevation-z8">
      
      <h1>Protechdesk - Support Central</h1>

      <img src="assets/img/login-image.svg" alt="">

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input 
          [formControl]="email"s
          required
          name="email" 
          matInput 
          placeholder="Ex. douglas@mail.com">
        </mat-form-field>.
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input 
            [formControl]="password"
          required
            name="password" 
            type="password" 
            matInput placeholder="Ex. 123">
          </mat-form-field>.
      
          <button (click)="login()" [disabled]="!validateFields()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
      </form>
      
</div>