<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidht">Register Technical</h1>
        <img class="fullWidht" src="assets/img/technical-create.svg" alt="Proftechdesk">

        <section class="section">
            <mat-checkbox (click)="addProfile(0)" class="margin" color="primary">Admin</mat-checkbox>
            <mat-checkbox (click)="addProfile(1)" class="margin" color="primary">Técnico</mat-checkbox>
            <mat-checkbox (click)="addProfile(2)" class="margin" color="primary">Cliente</mat-checkbox>
        </section>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>Name</mat-label>
            <input 
            [formControl]="name"
            required
            matInput 
            placeholder="Ex.. fulano de tal"
            maxlength="50">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>CPF</mat-label>
            <input 
            [formControl]="cpf"
            required
            matInput 
            placeholder="Ex..000.000.000-00"
            mask="000.000.000-00">            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input 
            [formControl]="email"
            required
            matInput 
            placeholder="Ex.. fulano@mail.com">
        <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidht" appearance="fill">
            <mat-label>Password</mat-label>
            <input 
           [formControl]="password"
           required
           type="password" 
           matInput 
           placeholder="Ex.. 1234">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        <button (click)="create()" [disabled]="!fieldValidate()" class="fullWidht" mat-flat-button color="primary">Register</button>
        <button class="fullWidht" mat-stroked-button color="warn" routerLink="..">Cancel</button>
    </form>
</div>
